* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}






/*-----------------------Navbar-----------------------*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    padding: 0 20px;
}
.navbar h2 {
    font-size: 22px;
    color: white;
    padding: 15px 20px;
    margin-left: 90px;
}
.nav-links {
    display: flex;
    margin-right: 90px;
}
.nav-link {
    font-weight: 400;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
.nav-link:hover {
    text-decoration: underline;
}









/*-----------------------Header-----------------------*/
.header {
    width: 100%;
}
.header img{
    width: 100%;
}
.header h1{
    color: white;
    font-size: 80px;
    margin-top: -230px;
    text-align: center;
}









/*----------------------- About us  -----------------------*/
.about {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 170px;
}

.image-section {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.image-section img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}
.content-section {
    flex: 1;
    padding: 10px;
}

.heading {
    color: #ffe927;
    font-size: 20px;
    margin-bottom: 6px;
}

.title {
    color: #333;
    font-size: 36px;
    margin-bottom: 6px;
}

.subtitle {
    color: #333;
    font-size: 22px;
    margin-bottom: 14px;
}

.description {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.progress-bar {
    margin-bottom: 40px;
}

.progress-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.progress {
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-filled {
    background-color: #333;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-percentage {
    text-align: right;
    font-size: 18px;
    margin-top: 5px;
    color: #666;
    margin-top: -25px;
}











/*----------------------- Customer reviews -----------------------*/
.customer-reviews {
    text-align: center;
    padding: 50px 0;
    background-color: white;
}
.customer-reviews h2 {
    font-size: 36px;
    margin-bottom: 30px;
}
.reviews {
    background-color: white;
    display: flex;
    margin: 70px;
    justify-content: space-around;
}
.review-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.212);
    width: 300px;
    padding: 20px;
    text-align: center;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}
.review-card:hover {
    background-color: #333;
    color: white;
}
.review-header {
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customer-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 10px;
}
.review-card h2 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}
.review-card p {
    color: #666;
    font-size: 0.9em;

}
.review-card:hover h2, 
.review-card:hover p, 
.review-card:hover .customer-name {
    color: white;
}
.review-rating {
    margin: 10px 0;
}
.star {
    color: #FFD700;
    font-size: 1.2em;
}
.review-card:hover .star {
    color: white;
}
.customer-name {
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}













/*-----------------------Box container-----------------------*/
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}
.container h1 {
    margin-bottom: 40px;
    font-size: 40px;
}
.container-box {
    width: 80%;
    background-color: #000000;
    border-radius: 30px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.box {
    display: inline-block;
    margin: 0 15px;
    padding: 20px;
    width: 150px;
    text-align: center;
}
.number {
    display: block;
    font-size: 50px;
    color: white;
}
.container p {
    margin: 0;
    font-size: 20px;
    color: white;
}














/*-----------------------Footer-----------------------*/
.bend1{
    padding: 0;
    margin-bottom: -60px;
    margin-left: -30px;
}
.bend2{
    padding: 0;
    margin-bottom: -306px;
    margin-left: 647px;
}
.footer {
    background-color: #000000;
    color: #ffffff;
    padding-right: 200px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
}
.footer-logo {
    display: grid;
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}
.footer-logo h1 {
    font-size: 24px;
}
.footer-logo p {
    margin: 10px 0 20px;
    max-width: 200px;
}
.footer-socials {
    display: flex;
    gap: 10px;
}
.footer-socials a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}
.footer-columns {
    flex: 1;
    width: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.footer-columns h3 {
    margin-bottom: 20px;
}
.footer-columns ul {
    list-style: none;
    padding: 0;
}
.footer-columns ul li {
    margin: 10px 0;
}
.footer-columns ul li a {
    color: #ffffff;
    text-decoration: none;
}


.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}
.footer-column h3 {
    margin-bottom: 20px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin: 10px 0;
}
.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
}
.newsletter {
    display: flex;
    flex-direction: column;
}
.newsletter input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
}
.newsletter button {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #ffe927;
    color: black;
    cursor: pointer;
}
.newsletter button:hover {
    background-color: white;
    color: black;
}
.footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    border-top: 1px solid #2c3e50;
}