* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}






/*-----------------------Navbar-----------------------*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    padding: 0 20px;
}
.navbar h2 {
    font-size: 22px;
    color: white;
    padding: 15px 20px;
    margin-left: 90px;
}
.nav-links {
    display: flex;
    margin-right: 90px;
}
.nav-link {
    font-weight: 400;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
.nav-link:hover {
    text-decoration: underline;
}









/*-----------------------Header-----------------------*/
.header {
    width: 100%;
}
.header img{
    width: 100%;
}
.header h1{
    color: white;
    font-size: 80px;
    margin-top: -230px;
    text-align: center;
}










/*-----------------------District-----------------------*/
.districts {
    text-align: center;
    margin-top: 60px;
}
.first-places {
    display: flex;
    gap: 55px;
    margin-top: 220px;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap; 
}
.last-places {
    display: flex;
    gap: 55px;
    margin-top: 90px;
    margin-bottom: 120px;
    justify-content: center;
    flex-wrap: wrap; 
}
.places {
    display: flex;
    gap: 55px;
    margin-top: 90px;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap; 
}
.place {
    cursor: pointer;
    width: 200px;
    height: 320px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: left;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.514);
}
.place img {
    width: 100%;
    height: auto;
    display: block;
}
.place-details {
    padding: 15px;
}
.place-details h2 {
    font-size: 20px;
    margin: 10px 0 5px;
}
.place-details p {
    font-size: 14px;
    color: #555;
}
.place:hover {
    transform: scale(1.05);
}
.custom-link {
    text-decoration: none;
    color: black;
}

.custom-link:hover {
    color: black;
}

















/*-----------------------Footer-----------------------*/
.bend1{
    padding: 0;
    margin-bottom: -60px;
    margin-left: -30px;
}
.bend2{
    padding: 0;
    margin-bottom: -306px;
    margin-left: 647px;
}
.footer {
    background-color: #000000;
    color: #ffffff;
    padding-right: 200px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
}
.footer-logo {
    display: grid;
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}
.footer-logo h1 {
    font-size: 24px;
}
.footer-logo p {
    margin: 10px 0 20px;
    max-width: 200px;
}
.footer-socials {
    display: flex;
    gap: 10px;
}
.footer-socials a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}
.footer-columns {
    flex: 1;
    width: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.footer-columns h3 {
    margin-bottom: 20px;
}
.footer-columns ul {
    list-style: none;
    padding: 0;
}
.footer-columns ul li {
    margin: 10px 0;
}
.footer-columns ul li a {
    color: #ffffff;
    text-decoration: none;
}


.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}
.footer-column h3 {
    margin-bottom: 20px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin: 10px 0;
}
.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
}
.newsletter {
    display: flex;
    flex-direction: column;
}
.newsletter input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
}
.newsletter button {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #ffe927;
    color: black;
    cursor: pointer;
}
.newsletter button:hover {
    background-color: white;
    color: black;
}
.footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    border-top: 1px solid #2c3e50;
}